# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
MANIFEST

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.tox/

# Environments
.env
.venv
env/
venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Editors
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
